.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.box {
  width: 300px;
  border: 1px black solid;
  background-color: peachpuff;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 5px;
}